.container{
  display : flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color :white;
}

.title{
  font-size: 40px;
}

.questionSolved{
  font-size: 25px;
}

.progressContainer{
  display : flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top : 50px;
}

.progress{
  width : 180px;
  margin : 20px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}