.container{
  display : flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color :white;
}

.progressContainer{
  display : flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.progress{
  width : 200px;
}